/* Los estilos de tu proyecto */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo{
  width: 147px;
  margin: 0 auto 10px;
}
.mg-btm {
  margin-bottom: 0;
  padding-bottom: 10px;
  border-width: 0 0 1px;
}
.bg-taxi {
  height: 90vh;
  background-image: url("../assets/images/taxi.jpg");
  background-position: center bottom;
  background-size: cover;
  display: flex;
  align-items:center;
  justify-content:flex-end;
}
.yellow-box {
  height: 40vh;
  padding: 20px 0 0 30px;
  color: #fff;
}
.yellow-box h2 {
  margin-bottom: 25px;
}
.logo-blanco {
  height: 17px;
}
.iphone {
  height: 100vh;
  padding-top: 5vh;
}
.borde {
  border: 2px solid #fff;
  height: 75vh;
  margin-left: 8.3333333%;
  margin-bottom: 30px;
}
.text-wh {
  color: #fff;
  font-weight: bold;
}
.iphone h3 {
  margin: 18% 0 40px;
}
.conduce {
  background-image: url("../assets/images/conduce.jpg");
  color: black;
  background-size:cover;
}
.conduce-text {
  padding: 45px;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.50);
}
.input {
  height: 30px;
  width: 78%;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 15px;
  outline: none;
}
.footer {
  background-color: #000;
}


/* CLASES REUTILIZABLES */

.fl-left {
  float: left;
}
.pd-lf-15 {
  padding-left: 15px;
}
.pd-rg-0 {
  padding-right: 0;
}
.pd-lf-0 {
  padding-left: 0;
}
.mrg-bt-25 {
  margin-bottom: 25px;
}
.mrg-top-30 {
  margin-top: 30px;
}
.pd-45 {
  padding: 45px;
}
.line-h-25 {
  line-height: 45px;
}
.pd-top-10 {
  padding-top: 10px;
}
.fz {
  font-size: 20px;
}
.bg-gold {
  background-color: #ffc107;
}
.bg {
  background-position:center center;
  background-size:cover;
  background-repeat: no-repeat;
}

.none-xs {
  display: none;
}
.image-responsive {
  height: 100%;
}

@media (min-width:992px) {

.none-xs {
  display:inline-block;
}
.none {
  display: none;
}
.fl-rg {
  float: right;
}
.pd-md {
  padding: 30px 55px 20px 100px;;
}
.yellow-box hr {
  margin-right: 35px ;
}
.yellow-box {
  height: 55vh;
}
.line {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  /* posicionando sobre el hr */
  position: relative;
  top: -30px;
  background-color: #ffc107;
}
.iphone {
  height: 86vh;
}
.borde {
  height: 90%;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 50px 0 0 50px;
  border-left-color:gold;
  color: #fff;
  font-size: 18px;
}
.conduce {
  background-position:center;
  height: 80vh;
}
.input {
  width: 45%;
}
.map {
  height: 400px;
}
.shape {
  height: 300px;
  display: flex;
  align-items:flex-end;
  justify-content:flex-start;
}
.black {
  color: #000;
}
.user-image {
  width: 300px;
  height: 200px;
  background-color: #0080FF;
  border-radius: 5px;
}
.bg-green {
  background-color: #01DFA5;
}
.bg-gray {
  background-color: gray;
}
.form {
  width: 400px;
}
.heigth-modal {
  height: 550px;
}
.account-button {
  background-color: #000;
  color: #fff;
  border: none;
}
.bg-skb {
  background-color:#0080FF;
  border: none;
  color: #fff;
}
.border {
  border-bottom: none;
}
.black {
  color: #000;
}
.skb {
  color: #0B3861;
}
}
