/* Los estilos de tu proyecto */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fl-left {
  float: left;
}
.pd-lf-15 {
  padding-left: 15px;
}
.pd-rg-0 {
  padding-right: 0;
}
.pd-lf-0 {
  padding-left: 0;
}
.bg {
  background-position:center center;
  background-size:cover;
  background-repeat: no-repeat;
}
.logo{
  width: 147px;
  margin: 0 auto 10px;
}
.mg-btm {
  margin-bottom: 0;
  padding-bottom: 10px;
  border-width: 0 0 1px;
}
.bg-taxi {
  height: 90vh;
  background-image: url("../assets/images/taxi.jpg");
  display: flex;
  align-items:center;
  justify-content:flex-end;
}
.yellow-box {
  height: 40vh;
  padding: 20px 0 0 30px;
  color: #fff;
}
.yellow-box h2 {
  margin-bottom: 25px;
}
.logo-blanco {
  height: 17px;
}
.iphone {
  height: 100vh;
  padding-top: 5vh;
}
.borde {
  border: 2px solid #fff;
  height: 75vh;
  margin-bottom: 30px;
}
.text-wh {
  color: #fff;
  font-weight: bold;
}
.iphone h3 {
  margin: 18% 0 40px;
}
.conduce {
  background-image: url("../assets/images/conduce.jpg");
  color: white;
  background-size:cover;
}
.conduce-text {
  padding: 45px;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.50);
}
.mrg-bt-25 {
  margin-bottom: 25px;
}
.mrg-top-30 {
  margin-top: 30px;
}

.bg-gold {
  background-color: gold;
}
.input {
  height: 30px;
  width: 78%;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 15px;
  outline: none;
}
.pd-45 {
  padding: 45px;
}
.footer {
  background-color: #000;
}
.line-h-25 {
  line-height: 45px;
}
.pd-top-10 {
  padding-top: 10px;
}
.fz {
  font-size: 25px;
}
